body{
    display: grid;
    place-content: center;
    background-color: #a8a6a6;
}

body::before{
    content: '';
    position: absolute;
    background: url(../images/mountain-g9cf7390b1_1920.jpg);
    background-size: cover;
    width: 100%;
    height: 50%;
    background-position: center;
    filter: brightness(80%);
}

.todo{
    position: relative;
    height: 600px;
    width: 500px;
    padding: 2rem 3rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-header h2{
    margin-bottom: 1rem;
    color: #e5e5e5;
}

.todo-header input,
.add-input{
    width: 100%;
    background-color: #e5e5e5;
    padding: .5rem 1rem;
    font-weight: bold;
    color: #414141;
}

.todo-body{
    height: 360px;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

.todo-items{
    padding: 1.5rem 1rem 1.2rem 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #e5e5e5;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    transition: all .7s ease-in;
}

.todo-names{
    max-width: 20ch;
    word-break: break-all;
    margin: 0 1rem;
    font-weight: bold;
    z-index: 2;
    color: #414141;
}

.todo-btn{
    position: absolute;
    right: 20px;
    padding: .5rem;
    background-color: transparent;
}

.todo-btn i{
    color: #f34747;
    font-size: 1.2rem;
}

.todo-checkbox{
    z-index: 2;
}

.todo-line{
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-input{
    margin-right: 1rem;
}

.add-btn{
    background-color: #04656a;
    padding: .4rem 1rem;
}

.add-btn i{
    font-size: 2rem;
    color: white;
}